<style>
  table {
    font-family: monospace;
    background-color: lightgray;
  }
  th {
    text-align: left;
  }
  table tr:nth-child(odd) td{
      background-color: lightblue;
  }
  table tr:nth-child(even) td{
    background-color: white;      
  }</style>
<p>{{source}}</p>
<table>
  <tr>
    <th>#</th>
    {% for field in fieldnames %}
    <th>{{field}}</th>
    {% endfor %}
    <th>Assigned Transaction</th>
  </tr>
  {% for entry in entries %}
  <tr id="{{entry.id}}">
    <td>{{entry.serial}}</td>
    {% for field in fieldnames %}
    <td>{{entry.data|get_item:field}}</td>
    {% endfor %}
    <td>{% if entry.transaction %}<a href="{{entry.transaction.get_absolute_url}}">{{entry.transaction}}</a>{% endif %}</td>
  </tr>  {% endfor %}
</table>
